In [1]:
import pandas as pd
import numpy as np

In [3]:
realtor_data = pd.read_csv("data+files/realtor-data.csv", parse_dates=["prev_sold_date"])
forex_data= pd.read_csv("data+files/exchange_rates.csv", parse_dates=["date"])

In [8]:
forex_data.head(2)

,date,EUR,GBP,INR,AUD,CAD,SGD,CHF,MYR,JPY,...,SAR,ZAR,LKR,SEK,TWD,THB,TTD,TRY,AED,VEF
0,2022-10-28,1.006649,0.864114,82.350671,1.563423,1.362328,1.412645,0.996824,4.721493,147.699754,...,3.75,18.178368,365.504838,10.990230,32.129516,38.006384,6.778452,18.609938,3.6725,850351.855898
1,2022-10-27,1.001526,0.864250,82.362716,1.544216,1.353543,1.407655,0.989882,4.714796,146.011366,...,3.75,17.918148,365.318333,10.937726,32.033000,37.769487,6.770462,18.594566,3.6725,843457.785643

In [6]:
forex_data.date.agg(["min", "max"])

min   2012-01-01
max   2022-10-28
Name: date, dtype: datetime64[ns]

In [7]:
forex_data.shape

(3954, 54)

In [9]:
realtor_data.sample(2)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
247560,for_sale,3.0,2.0,0.57,Milford,New Hampshire,3055.0,1700.0,NaT,589900.0
101126,for_sale,7.0,3.0,0.11,Woonsocket,Rhode Island,2895.0,4141.0,2020-03-26,425000.0

In [10]:
realtor_data.price.rank()

0          68466.0
1          48364.5
2          34304.0
3          98620.0
4          33139.5
            ...
904961    335768.0
904962    263866.0
904963     79583.0
904964    427638.0
904965    688372.0
Name: price, Length: 904966, dtype: float64

In [13]:
realtor_data.price.rank(method="first").idxmax()

892228

In [14]:
realtor_data.loc[892228]

status                       for_sale
bed                               9.0
bath                              2.0
acre_lot                          NaN
city                            Bronx
state                        New York
zip_code                      10458.0
house_size                     2440.0
prev_sold_date    2002-12-30 00:00:00
price                     875000000.0
Name: 892228, dtype: object

In [15]:
forex =forex_data.sort_values("date",ascending=True)
#ordenar por data

In [16]:
forex

,date,EUR,GBP,INR,AUD,CAD,SGD,CHF,MYR,JPY,...,SAR,ZAR,LKR,SEK,TWD,THB,TTD,TRY,AED,VEF
3953,2012-01-01,0.771664,0.644185,53.060001,0.979672,1.021600,1.296500,0.938550,3.169000,77.115000,...,3.75025,8.080150,115.330002,6.905100,30.275000,31.545000,6.350000,1.892000,3.673050,4.300000
3952,2012-01-02,0.773932,0.645401,53.307503,0.978394,1.020710,1.297524,0.940457,3.172400,76.910073,...,3.75004,8.078046,113.899991,6.905551,30.285639,31.544000,6.438000,1.895794,3.673099,4.300000
3951,2012-01-03,0.765684,0.638806,53.162204,0.963547,1.009643,1.282629,0.932033,3.147500,76.670837,...,3.75020,8.025177,113.805000,6.816731,30.289988,31.336853,6.390003,1.872262,3.673100,4.300000
3950,2012-01-04,0.773249,0.639650,52.977501,0.966527,1.013466,1.287358,0.941689,3.135000,76.696983,...,3.75025,8.145931,113.820007,6.851576,30.278000,31.511999,6.370000,1.883389,3.673100,4.300000
3949,2012-01-05,0.782138,0.645945,52.981000,0.975040,1.019637,1.291875,0.952495,3.149000,77.171299,...,3.75025,8.172399,113.752002,6.929119,30.250000,31.594760,6.350000,1.881456,3.673200,4.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022-10-24,1.012665,0.885427,82.806467,1.584956,1.370302,1.421593,1.000750,4.738023,148.749656,...,3.75000,18.408829,367.009127,11.183642,32.371715,38.169402,6.739196,18.602842,3.672500,839274.934172
3,2022-10-25,1.003852,0.871802,82.488148,1.563574,1.361563,1.416409,0.995948,4.735091,147.820857,...,3.75000,18.212705,365.697552,10.984768,32.270814,37.997712,6.728734,18.596393,3.672500,839228.271247
2,2022-10-26,0.993657,0.861563,82.010975,1.539422,1.355574,1.405711,0.986901,4.716826,146.549462,...,3.75000,17.953964,364.994318,10.868461,32.122120,37.757633,6.736677,18.605791,3.672500,839402.331484
1,2022-10-27,1.001526,0.864250,82.362716,1.544216,1.353543,1.407655,0.989882,4.714796,146.011366,...,3.75000,17.918148,365.318333,10.937726,32.033000,37.769487,6.770462,18.594566,3.672500,843457.785643
0,2022-10-28,1.006649,0.864114,82.350671,1.563423,1.362328,1.412645,0.996824,4.721493,147.699754,...,3.75000,18.178368,365.504838,10.990230,32.129516,38.006384,6.778452,18.609938,3.672500,850351.855898

In [19]:
forex.loc[:, "EUR":"VEF"].diff(1) #arg diferenÃ§a de rows

,EUR,GBP,INR,AUD,CAD,SGD,CHF,MYR,JPY,CNY,...,SAR,ZAR,LKR,SEK,TWD,THB,TTD,TRY,AED,VEF
3953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3952,0.002268,0.001216,0.247502,-0.001278,-0.000890,0.001024,0.001907,0.003400,-0.204927,0.004500,...,-0.00021,-0.002104,-1.430011,0.000451,0.010639,-0.001000,0.088000,0.003794,4.900000e-05,0.000000
3951,-0.008248,-0.006595,-0.145299,-0.014847,-0.011067,-0.014895,-0.008424,-0.024900,-0.239236,-0.004800,...,0.00016,-0.052869,-0.094991,-0.088820,0.004349,-0.207147,-0.047997,-0.023532,1.000000e-06,0.000000
3950,0.007565,0.000844,-0.184703,0.002980,0.003823,0.004729,0.009656,-0.012500,0.026146,0.000000,...,0.00005,0.120754,0.015007,0.034845,-0.011988,0.175146,-0.020003,0.011127,0.000000e+00,0.000000
3949,0.008889,0.006295,0.003499,0.008513,0.006171,0.004517,0.010806,0.014000,0.474316,0.007200,...,0.00000,0.026468,-0.068005,0.077543,-0.028000,0.082761,-0.020000,-0.001933,1.000000e-04,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,-0.001231,0.001006,0.317624,0.007592,0.008570,0.006379,0.003346,-0.000882,1.343242,0.054056,...,0.00000,0.115965,1.044864,-0.013947,0.259663,0.174922,-0.022617,0.019125,0.000000e+00,3639.526620
3,-0.008813,-0.013625,-0.318319,-0.021382,-0.008739,-0.005184,-0.004802,-0.002932,-0.928799,0.017297,...,0.00000,-0.196124,-1.311575,-0.198874,-0.100901,-0.171690,-0.010462,-0.006449,0.000000e+00,-46.662925
2,-0.010195,-0.010239,-0.477173,-0.024152,-0.005989,-0.010698,-0.009047,-0.018265,-1.271395,-0.107483,...,0.00000,-0.258741,-0.703234,-0.116307,-0.148694,-0.240079,0.007943,0.009398,0.000000e+00,174.060237
1,0.007869,0.002687,0.351741,0.004794,-0.002031,0.001944,0.002981,-0.002030,-0.538096,0.054783,...,0.00000,-0.035816,0.324015,0.069265,-0.089120,0.011854,0.033785,-0.011225,0.000000e+00,4055.454159
0,0.005123,-0.000136,-0.012045,0.019207,0.008785,0.004990,0.006942,0.006697,1.688388,0.024091,...,0.00000,0.260220,0.186505,0.052504,0.096516,0.236897,0.007990,0.015372,0.000000e+00,6894.070255

In [20]:
forex["diff_eur"] =forex["EUR"].diff()

In [22]:
forex.diff() # uso loc para slice

,date,EUR,GBP,INR,AUD,CAD,SGD,CHF,MYR,JPY,...,ZAR,LKR,SEK,TWD,THB,TTD,TRY,AED,VEF,diff_eur
3953,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3952,1 days,0.002268,0.001216,0.247502,-0.001278,-0.000890,0.001024,0.001907,0.003400,-0.204927,...,-0.002104,-1.430011,0.000451,0.010639,-0.001000,0.088000,0.003794,4.900000e-05,0.000000,NaN
3951,1 days,-0.008248,-0.006595,-0.145299,-0.014847,-0.011067,-0.014895,-0.008424,-0.024900,-0.239236,...,-0.052869,-0.094991,-0.088820,0.004349,-0.207147,-0.047997,-0.023532,1.000000e-06,0.000000,-0.010516
3950,1 days,0.007565,0.000844,-0.184703,0.002980,0.003823,0.004729,0.009656,-0.012500,0.026146,...,0.120754,0.015007,0.034845,-0.011988,0.175146,-0.020003,0.011127,0.000000e+00,0.000000,0.015813
3949,1 days,0.008889,0.006295,0.003499,0.008513,0.006171,0.004517,0.010806,0.014000,0.474316,...,0.026468,-0.068005,0.077543,-0.028000,0.082761,-0.020000,-0.001933,1.000000e-04,0.000000,0.001324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1 days,-0.001231,0.001006,0.317624,0.007592,0.008570,0.006379,0.003346,-0.000882,1.343242,...,0.115965,1.044864,-0.013947,0.259663,0.174922,-0.022617,0.019125,0.000000e+00,3639.526620,-0.001040
3,1 days,-0.008813,-0.013625,-0.318319,-0.021382,-0.008739,-0.005184,-0.004802,-0.002932,-0.928799,...,-0.196124,-1.311575,-0.198874,-0.100901,-0.171690,-0.010462,-0.006449,0.000000e+00,-46.662925,-0.007582
2,1 days,-0.010195,-0.010239,-0.477173,-0.024152,-0.005989,-0.010698,-0.009047,-0.018265,-1.271395,...,-0.258741,-0.703234,-0.116307,-0.148694,-0.240079,0.007943,0.009398,0.000000e+00,174.060237,-0.001382
1,1 days,0.007869,0.002687,0.351741,0.004794,-0.002031,0.001944,0.002981,-0.002030,-0.538096,...,-0.035816,0.324015,0.069265,-0.089120,0.011854,0.033785,-0.011225,0.000000e+00,4055.454159,0.018064
0,1 days,0.005123,-0.000136,-0.012045,0.019207,0.008785,0.004990,0.006942,0.006697,1.688388,...,0.260220,0.186505,0.052504,0.096516,0.236897,0.007990,0.015372,0.000000e+00,6894.070255,-0.002746